@charset "utf-8";
body{
	
	color: #666;
	font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
}
#mycarousel{
	margin: 50px 0 0 0;
	
}

.logo{
	
	 padding: 0;
}

#navbar-collapse  ul{
	
	margin-top: 0px;
}

.carousel-inner img{
	
	margin:   0  auto;
	 
}


.tab1-h2{
	
	font-size: 30px;
	text-align: center;
	letter-spacing: 1px;
	color: #0059b2;
}
 
 
 .tab1-p{
	
	font-size: 18px;
	text-align: center;
	letter-spacing: 1px;
	margin: 20px 0 40px 0;
}


 .tab1{
	
	margin: 30px 0;
	color: #666;
}


.text-muted{
	
	color: #999;
	text-decoration: line-through;
}


.tab1 .media-heading{
	
	margin: 5px 0 20px 0;
}


.tab1 .col{
	
	padding: 20px;
}


#footet{
	text-align: center;
	background-color: #666;
	padding: 20px;
	border-top: 1px  solid #ccc;
	color: #eee;
	
	
}

.tab2{
	
	background-color: #eee;
	
	padding: 60px  20px;
	
	
	text-align: center;
	
}

.tab3{
	
	 
	
	padding: 60px  20px;
	
	
	text-align: center;
	
}
.tab2 img{
	width: 40%;
	height: 40%;
}

.tab3 img{
	width: 60%;
	height: 60%;
}


.jumbotron{
	margin:50px 0 0 0;
	background-image:url(../img/bg.jpg);
	color: #ccc;
}



.jumbotron  h1{
	
	font-size: 26px;
	padding: 0  0   0  20px;
	 
}
.jumbotron  h4{
	 font-size: 15px;
	 padding: 0  0   0  20px;
	 
}

/*大屏幕   >1200px*/

@media  (min-width: 1200px) {
	
	
.jumbotron  h1{
	
	font-size: 36px;
	 
}
.jumbotron  h4{
	 font-size: 18px;
	  
	 
}



.info-content  h4{
	 
	font-size: 20px;
	
}

	

}

/*中屏幕 ：桌面显示器  >992px*/

@media  (min-width: 992px) {
	
	
.jumbotron  h1{
	
	font-size: 33px;
	 
}
.jumbotron  h4{
	 font-size: 17px;
	  
	 
}

.info-content  h4{
	 
	font-size: 18px;
	
}

	
	

}


/*小屏幕   >768px*/

@media  (min-width: 768px) {
	
	
.jumbotron  h1{
	
	font-size: 30px;
	 
}
.jumbotron  h4{
	 font-size: 16px;
	  
	 
}

.info-content  h4{
	 
	font-size: 16px;
	
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	
	
}

	
	

}

#infomation{
	 
	
	background: #eee;
	padding: 40px  0;
	
}

.info-content{
	background: #fff;
	margin: 0  0 20px 0;
	box-shadow: 2px 2px 3px #ccc;
	
}


.info-content  img{
	 margin: 12px  0;
	
}


.info-content  h4{
	color: #333;
	padding: 2px 0  0   0;
	font-size: 18px;
	
}


.info-content  p{
     line-height: 1.6;
	
}


